@import url("header.css");

#main {
	text-align: center;
	background-color: Cornsilk;
	white-space: nowrap;
}


#siteLogo{
	position: relative;
	left: 50%;
	margin-left: -100px;
}
.Search{
	text-align: center;
}
#SearchBar {
	position: relative;
	width: 100%;
	height: 300px;
	text-align: center;
	font-size: 18px;

	background-repeat: no-repeat;
	background-image: url("../resources/restaurant.png");
	background-position: center;
	background-size:cover;

	border: 3px solid white;
	background-color: white;
}
.form-search{
	display: inline-block;
	position:relative;
	top:70%;
}
.form-search input {
	position: relative;
	left: 10%;
	margin-left: 100px;
	border-radius:5px 5px 0px 0px;
	height:35px;
	width: 500px;
}
.form-search button{
	position: relative;
	left: 10%;
	margin-left: 50px;
	border: 3px solid rgb(221,72,21);
	background-color: rgb(221,72,21);
	border-radius:5px;
	height:40px;
	width:100px;
	color: white;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.form-search button:hover{
	border: 3px solid Coral;
	background-color: Coral;
	cursor: pointer;
}
#results{
	z-index: 1000;
	display: none;
	border: 2px solid white;
	background-color: white; 
	position: relative;
	top:70%;
	width:500px;
	height: 500px;
    overflow-y: scroll;
	left:10%;
	margin-left: 100px;
}
#liveSearchResult{
	position: relative;
	text-align: left;
	border: 1px solid gray;
}
#liveSearchLink{
	text-decoration: none;
}

#welcomeToFoodle{
	position: relative;
	top:10px;
}

h1{	
	display:inline;
	font-size: 30px;
	text-align: center;
	margin-left: 0%;
}
#foodle{
	color: rgb(221,72,21);
}
#collections{
	position:relative;
	text-align: center;
	border-radius:25px;
	border: 2px solid white;
	background-color: Bisque; 
	width: 80%;
	overflow: hidden;
	margin: 2% 10%;
	padding-bottom: 4%;
}
#collections:hover{
	border: 2px solid BlanchedAlmond;
	background-color: BlanchedAlmond;
	cursor: pointer
}
.collection{
	background-color: Azure; 
	border: 1px solid white;
	border-radius:25px;
	float: left;
	min-height: 450px;
	color: white;
}
.collection h3{
	color: rgb(221,72,21);
	font-size: 30px;
}
.collection a{
	text-decoration: none;
}

.collectionResults{
	position: relative;
	text-align: left;
	left: 15%;
	font-size: 30px;
}
.collectionResults p{
	position: relative;
	border: 3px solid rgb(221,72,21);
	background-color: rgb(221,72,21);
	border-radius:5px;
	height: 50px;
	width: 75%;
}

.collectionResults p:hover{
	border: 3px solid Coral;
	background-color: Coral;
}
.collectionResults a{
	white-space: nowrap;
	position: relative;
	color: white;
	bottom:30%;
}
.collectionResults img{
	position: relative;
	text-align: left;
	height: 50px;
	width: 50px;
	top:30%;
}
.collectionResults #averageRating{
	border: 8px solid green;
	border-bottom: 10px solid green;
	background-color: green;
	height: 50px;
	width: 50px;
	margin-right: 2px;

}
#topWeek{
	position: relative;
	left:4%;
	text-align: center;
	background-color: inherit;
	width: 40%;
}
#topWeekOutput{
	display:none;
	overflow: hidden;
}
#newRestaurants{
	position: relative;
	left:16%;
	text-align: center;
	background-color: inherit;
	width: 40%;
}
#newRestaurantsOutput{
	display:none;
	overflow: hidden;
}