@import url("header.css");

body {
	text-align: center;
	margin:0;
	padding:0;
	background-color: black;
}


#advancedSearch {
	text-align: center;
	background-color: Cornsilk;
	background-color: rgb(221,72,21);
	border:solid rgb(221,72,21);
	border-radius: 5px;
	color:white;
	white-space: nowrap;
	height:auto;
	width:200px;
	position:absolute;
	left:1%;
    top: 250px;
    z-index: 1000;
}

#backg{
	text-align: center;
	background-color: Cornsilk;
	white-space: nowrap;
	height:900px;
}






#filterForm{
	display: none;
}

#sortFilterInput{
	display: none;
}
#ratingFilterInput{
	display: none;
}
#categoryFilterInput{
	display: none;
}

#Restaurants{
	position:relative;
	text-align: center;
	border-radius:25px;
	border: 2px solid white;
	background-color: Bisque;
	width: 70%;
	margin: 2% 15%;
	padding-bottom: 4%;
	margin-top:0;
	height:100%;
}


 #count{
	display:inline;
	font-size: 30px;
	text-align: center;
	margin-left: 0%;
}


#container {
	position:relative;
	text-align: center;
	background-color: Cornsilk;
	white-space: nowrap;
}

#results a{
	position:relative;
	color:black;
	text-decoration: none;
	font-size:20px;
}



#searchResults{

	position: relative;
	border-radius:25px;
	border: 2px solid white;
	background-color: white;
	width: 70%;
	left:0%;
	
}

article{
	width:300px;
}

#results{
	text-align:left;
	border: 2px solid grey;
	position:relative;
	margin:0px;
	padding: 0;

}

#rating{

}



#mainFil,#sortFilter,#ratingFilter,#categoryFilter{
	background-color: rgb(221,72,21);
	border:solid rgb(221,72,21);
	color: white;
	padding: 2px;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
}

#mainFil:hover,#sortFilter:hover,#ratingFilter:hover,#categoryFilter:hover{
	background-color: Coral;
	border:solid Coral;
}

