RewriteEngine on
Options +FollowSymlinks 
RewriteBase / 
RewriteRule	^([A-Za-z0-9-]+)/?$ ~up201303962/Foodle/profile/UserProfile.php?username=$1 [QSA,L]
RewriteRule	^([A-Za-z0-9-]+)/allReviews/?$ ~up201303962/Foodle/profile/allReviews.php?username=$1 [QSA,L]
RewriteRule	^([A-Za-z0-9-]+)/allPhotos/?$ ~up201303962/Foodle/profile/allPhotos.php?username=$1 [QSA,L]
